/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* CSS with objects specifict to the Space Invaders game */

:root{
    --cell-size: 2.5vw; /* size of a side of a cell */
    --grid-size: 15; /* number of cells for side (square grid) */
}

#grid{
    width: calc(var(--cell-size) * var(--grid-size) + 4px);
    height: calc(var(--cell-size) * var(--grid-size)+ 4px);
    
    /* background-color: gold; */

    display: flex;
    flex-wrap: wrap;

    border: 2px solid white;
}

/* TODO: Might add a floor line and destructable barrers as in the original game*/
#grid > div{
    width: var(--cell-size);
    height: var(--cell-size);

    /* background-color: tomato; */
    border: 1px dashed white;
    font-size: 8px;

    /* Working on background I avoid styling every sprite through their IDs */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.alien{
    background-image: url('./images/alien.png');
}

.spaceship{
    background-image: url('./images/spaceship.png');
}

.laser{
    background-image: url('./images/laser.png');
}

.boom{
    background-image: url('./images/boom.png');
}